
{% extends "./index.html" %}
{% block regulations %}
{% load static %}
<div class="container-fluid">
    <div class="bg-gradient-primary shadow-primary border-radius-lg py-2 pe-1">
        <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Regulations</h4>
      </div>


<div class="table-responsive p-0">
    <table class="table align-items-center mb-0">
      <thead>
        <tr>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"><h6><b>S.NO</b></h6></th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"><h6><b>Regulations</b></h6></th>
          <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"><h6><b>Batches</b></h6></th>
          <th class="text-secondary opacity-7"></th>
        </tr>
      </thead>
      <tbody>
        {% for i,j in reg %}
        <tr>
          <td>
            <div class="d-flex px-4 py-1">
                <label><b>{{j}}</b></label>
            </div>
          </td>
          <td>
            <div class=" px-4 py-1">
              <label><b>{{i.Regulation}}</b></label>
            </div>
            
          </td>
          <td class="align-middle">
            <div class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
              <label><b>{{i.batch}}</b></label>
            </div>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<div class="container-fluid my-4">
    <div class="bg-gradient-secondary shadow-primary border-radius-lg py-2 pe-1">
        <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Add Regulations</h4>
      </div>
    
        <div class="card">
          <div class="card-body p-3 pt-2">
            <form role="form" method="POST" action="add_regulation">
              {% csrf_token %}
              <div class="px-4 py-1">
                {% for message in messages %}
              <h5 class="text-danger">*{{message}}</h5>
              {% endfor %}
                <div class="input-group input-group-outline mb-3">
                  <label class="form-label">Regulation</label>
                  <input type="text" class="form-control" name="regulation" id="reg" required>
                </div>
                <div class="input-group input-group-outline mb-3">
                  <label class="form-label">Batch</label>
                  <input type="text" class="form-control" name="batch" id="bat" required>
                </div>
                <div class="form-check form-check-info text-start ps-0">
                  <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" required>
                  <label class="form-check-label" for="flexCheckDefault">
                    I have checked <a href="javascript:;" class="text-dark font-weight-bolder">Regulation and Batch</a>
                  </label>
                </div>
                <button onclick="show()" id="confirm" class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0"> addregulation</button>
                <div class=" card-body text-center" id="subbut" style="display:none;box-shadow: 0px 0px 10px 0px solid gray; " >
                  <h3> are you sure?</h3>
                  <input type="submit"  class="btn btn-lg bg-gradient-primary btn-lg w-100 mt-4 mb-0" value="Add Regulation">
                </div>
              </form>
              </div>
              <style>
                #subbut{
                  box-shadow: 0px 0px 10px 0px solid gray;
                  color: blue;
                }
              </style>
          
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
          
<script>
  function show(){
    var ele=document.getElementById("subbut");
    var el=document.getElementById("confirm");
    ele.style.display="block";
    el.style.display="none";
  }
  function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}
  function callPythonFunction() {
    var csrftoken = getCookie('csrftoken');
      var regulation= document.getElementById("reg").value;
      var batch=document.getElementById("bat").value;
      var dataToSend = { csrfmiddlewaretoken: '{{ csrf_token }}', 
        regulation: regulation,
        batch: batch};
        console.log(dataToSend);
      $.ajax({
          type: "POST",
          //url: "{% url 'add_regulation' %}",
          url: "{% url 'add_regulation' %}",
          //data: JSON.stringify(dataToSend), // Convert data to JSON string
          //contentType: 'application/json; charset=utf-8',
          //dataType: 'json',
          beforeSend: function (xhr, settings) {
            if (!this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        },
          success: function (response) {
             // console.log(response)
              console.log("function called");
              alert('success in call');
          },
          error: function (xhr, status, error) {
              alert('Error occurred in call');
          }
      });
  }
  function callPythonFunctionError() {
    var csrftoken = getCookie('csrftoken');
    $.ajax({
        type: "POST",  // Use "GET" or "POST" depending on your view
        url: "{% url 'Regulations' %}",
        beforeSend: function (xhr, settings) {
          if (!this.crossDomain) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
          }
      },
        success: function (response) {
            console.log("function called")
            alert('Error success in call');
        },
        error: function (xhr, status, error) {
            alert('Error occurred in error');
        }
    });
}

  function myFunction() {
      if(confirm("Do you want to create new regulation") == true){
      console.log("called");
      callPythonFunction();
      }
      else{ 
      callPythonFunctionError();
      }
  }
</script>



{% endblock %}